<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chanidu.edocter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DocOnline"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name="com.chanidu.edocter.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.chanidu.edocter.UpdatePassword" />
        <activity android:name="com.chanidu.edocter.MyAppointmentsDoctor" />
        <activity android:name="com.chanidu.edocter.StartPage"/>
        <activity android:name="com.chanidu.edocter.CreatePatient" />
        <activity android:name="com.chanidu.edocter.VerifyOtpNewPassword" />
        <activity android:name="com.chanidu.edocter.DoctorDetails" />
        <activity android:name="com.chanidu.edocter.VerifyOtp" />
        <activity android:name="com.chanidu.edocter.SendOtp" />
        <activity android:name="com.chanidu.edocter.LoginPage" />
        <activity android:name="com.chanidu.edocter.UpdateProfilePatient" />
        <activity android:name="com.chanidu.edocter.ReSchedule" />
        <activity android:name="com.chanidu.edocter.ActiveAppointments" />
        <activity android:name="com.chanidu.edocter.Payment" />
        <activity android:name="com.chanidu.edocter.BookAppointment" />
        <activity android:name="com.chanidu.edocter.DoctorList" />
        <activity android:name="com.chanidu.edocter.PatientDashboard" />
        <activity android:name="com.chanidu.edocter.Specialist" />
        <activity android:name="com.chanidu.edocter.DoctorSchedule" />
        <activity android:name="com.chanidu.edocter.MainActivity" />
        <activity android:name="com.chanidu.edocter.UpdateProfile" />
    </application>

</manifest>